# Non-sensitive configuration
# These values will be stored in a ConfigMap
# Domain for the Ingress
DOMAIN=pix.local.crux.li
ENV=local

# Host path where Immich will store its data
# Make sure this directory exists and has the right permissions
HOST_PATH=/mnt/kubernetes/volumes/immich/server/library
STORAGE_SIZE=5Gi

#MAPTILER_KEY=maplibre_key
TZ=Europe/Zurich

EXTERNAL_DOMAIN=https://pix.crux.li
# TODO: add e-mail and url
WELCOME_TEXT_HTML="<b>Welcome</b> to <i>pix.crux.li</i><br/><small>Please log in or <u><a href=#>ask</a></u> for an account.</small>"

# Log level (verbose, debug, log, warn, error)
IMMICH_LOG_LEVEL=log

# E-Mail
EMAIL_ENABLED=false
#EMAIL_FROM="pix.crux.li <no-reply@localhost>"
#EMAIL_HOST=mail.infomaniak.com
#EMAIL_HOST_PASSWORD=PASSWORD
#EMAIL_HOST_USER=EMAIL
#EMAIL_HOST_PORT=465

