WEBDAV_URL=https://webdav.com/path
WEBDAV_USERNAME=user@email.com
# need to run rclone obscure
# use this: 'rclone obscure $(read -sp "Enter password to obscure: " p; echo $p)'
WEBDAV_PASSWORD=MyWebdavPassword