# TODO: add correct domain
EXTERNAL_DOMAN=https://pix.crux.li
# TODO: add e-mail and url
WELCOME_TEXT_HTML="<b>Welcome</b> to <i>pix.crux.li</i><br/><small>Please log in or <u><a href=#>ask</a></u> for an account.</small>"

# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables
# TODO: the follow values need to be changed!
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#IMMICH_VERSION=release
IMMICH_VERSION=v1.142.1

# Get a key from https://www.maptiler.com/
MAPTILER_KEY=secret_key

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Europe/Zurich

# it is only accesible from inside docker
DB_PASSWORD=immich

STORAGE_TEMPLATE="{{#if album}}{{album-startDate-y}}/{{album-startDate-yy}}{{album-startDate-MM}}_{{{album}}}{{else}}{{y}}/_{{yy}}{{MM}}_NoAlbum{{/if}}/{{yy}}{{MM}}{{dd}}{{hh}}{{mm}}_{{filetype}}_{{assetIdShort}}"
# Log level (verbose, debug, log, warn, error)
IMMICH_LOG_LEVEL=log

# E-Mail
EMAIL_ENABLED=false
EMAIL_FROM='pix.crux.li <no-reply@crux.li>'
EMAIL_HOST='mail.mailservice.com'
EMAIL_HOST_PASSWORD='MailPassword'
EMAIL_HOST_USER='user@mailservice.com'
EMAIL_HOST_PORT='465'

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
IMMICH_SERVER_PORT=2283
IMMICH_ML_PORT=3003

# The following values are usually not changed
# The location where your uploaded files are stored
UPLOAD_LOCATION=./.volumes/library
# cache (e.g. machine learning)
CACHE_LOCATION=./.cache
# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=./.volumes/postgres

IMMICH_CONFIG_FILE=./.immich-config.json

# database (do not change once deployed)
DB_USERNAME=immich
DB_DATABASE_NAME=immich

